/* Remove this container when use*/
/* .component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
} */
label {
}
.tab-container {
  /* position: relative; */
  left: 41.5%;
  top: 5.5rem;
  position: fixed;
  z-index: 999;
  width: 40%;
  /* height: fit-content; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 2px; */
  border: 1px solid #dee2e6;
  border-bottom: none;
  background-color: #dadadb;
  border-radius: 9px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.indicator {
  content: "";
  width: 8.1rem;
  height: 100%;
  background: transparent; /* Fully transparent background */
  position: absolute;
  left: 16%;
  /* z-index: -1; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1),
    inset 0px 1px 3px rgba(255, 255, 255, 0.2); /* Subtle shadow for depth */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Transparent border to indicate the active tab */
  border-radius: 10px; /* Rounded corners for a softer look */
  transition: all 0.3s ease-in-out; /* Smooth animation when switching tabs */
  cursor: pointer;
}

/* .indicator {
  content: "";
  width: 8.1rem;
  height: 100%;
  background-color: transparent;
  position: absolute;
  left: 16%;
  z-index: 999;
  z-index: -1;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.3s ease-out;
} */

.tab {
  width: 130px;
  /* height: 28px; */
  height: fit-content;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;
  /* height: fit-content; */
  position: relative;
  /* z-index: 999; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  opacity: 0.8;
  cursor: pointer;
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
}

.tab--1:checked ~ .indicator {
  left: 16%;
}

.tab--2:checked ~ .indicator {
  left: 33%;
}

.tab--3:checked ~ .indicator {
  left: 50%;
}
.tab--4:checked ~ .indicator {
  left: 67%;
}

/* */

.selected-tab-container {
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  /* background-color: #dee2e6; */
  background-color: #f1f5f9;
  /* height: fit-content; */
}
